{% extends base_template %}

{% block title %}
    {% if objectId|default(admin.id(object)) is not null %}
        {{ 'edit'}}
    {% else %}
        {{ 'title_create'|trans({}, 'SonataAdminBundle')|truncate(15) }}
    {% endif %}
{% endblock %}

{% block navbar_title %}
    {% if objectId|default(admin.id(object)) is not null %}
        Edit
    {% else %}
        Create
    {% endif %}
{% endblock %}

{%- block actions -%}
    {% include '@SonataAdmin/CRUD/action_buttons.html.twig' %}
{%- endblock -%}

{%- block tab_menu -%}
    {{ knp_menu_render(admin.sidemenu(action), {
        'currentClass': 'active',
        'template': get_global_template('tab_menu_template')
    }, 'twig') }}
{%- endblock -%}

{% use '@SonataAdmin/CRUD/base_edit_form.html.twig' with form as parentForm %}

{% block form %}
    {{ block('parentForm') }}

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h4>Email preview</h4>
        </div>
        <div class="modal-body">

        </div>

    </div>

</div>
{% endblock %}

{% block javascripts %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".persist-preview").attr('type','button');
            $("button[name='btn_preview']").click(function () {
                $(".modal").show();
                var emailBody = $(".emailBody").val();
                $(".modal-body").html(emailBody);

            });
            $(".close").click(function () {
                $(".modal").hide();
            })
        });
    </script>
{#<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>#}
{#<script type="text/javascript">#}
    {#console.log("tinymce includer");#}
    {#tinymce.init({#}
        {#selector: '.tinymce',#}
        {#plugins: 'code'#}
    {#});#}
{#</script>#}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
<style>
.tinymce{
    height:300px !important;
}
textarea{
    height: 100px !important;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    position: fixed;
    left: 246px;
    top: 50px;
    background-color: #fefefe;
    width: 80%;
    height:100%;
    overflow-y: inherit;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    opacity: 0.8;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #020202;
    color: white;
}

.modal-body {padding: 2px 16px;}

</style>
{% endblock %}